@media (min-width: 320px) {
  .country-ddn {
    font-size: 15px;
  }
  .time-zone-ddn {
    font-size: 12.5px;
  }
  .time-zone-toggle-label {
    font-size: 12px;
  }
  .time-zone-toggle-checkbox {
    font-size: 15px;
  }
  .digit-number,
  .digit-separator {
    font-size: 38px;
  }
  .digit-label {
    font-size: 12px;
  }
  .countdown-label-name {
    font-size: 36px;
  }
  .countdown-label-date {
    font-size: 24px;
  }
}

@media (min-width: 375px) {
  .country-ddn {
    font-size: 16px;
  }
  .time-zone-ddn {
    font-size: 13px;
  }
  .time-zone-toggle-label {
    font-size: 13px;
  }
  .time-zone-toggle-checkbox {
    font-size: 16px;
  }
  .digit-number,
  .digit-separator {
    font-size: 40px;
  }
  .digit-label {
    font-size: 14px;
  }
  .countdown-label-name {
    font-size: 38px;
  }
  .countdown-label-date {
    font-size: 26px;
  }
}

@media (min-width: 400px) {
  .digit-number,
  .digit-separator {
    font-size: 46px;
  }
  .digit-label {
    font-size: 18px;
  }
  .countdown-label-name {
    font-size: 46px;
  }
  .countdown-label-date {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .ddn-btn {
    cursor: default;
  }
  .ddn-menu {
    cursor: default;
  }
  .region-settings-btn {
    cursor: default;
  }
  .language-switch-btn {
    cursor: default;
  }
  .region-settings {
    left: 0px;
    top: 40px;
  }
  #content {
    gap: 32px;
  }
  .countdown {
    margin-top: 64px;
  }
  .holidays-list {
    grid-template-columns: 1fr;
    gap: 16px;
    font-size: 14px;
  }
  .holidays-item-name,
  .holidays-item-date {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .ddn-btn {
    cursor: pointer;
  }
  .ddn-menu {
    cursor: pointer;
  }
  .region-settings-btn {
    cursor: pointer;
  }
  .language-switch-btn {
    cursor: pointer;
  }
  .country-ddn {
    font-size: 18px;
  }
  .time-zone-ddn {
    font-size: 15.5px;
  }
  .time-zone-toggle-label {
    font-size: 15.5px;
  }
  .time-zone-toggle-checkbox {
    font-size: 20px;
  }
  .region-settings {
    left: 40px;
    top: 0px;
  }
  #content {
    gap: 64px;
  }
  .countdown {
    margin-top: 0px;
  }
  .digit-number,
  .digit-separator {
    font-size: 64px;
  }
  .digit-label {
    font-size: 24px;
  }
  .countdown-label-name {
    font-size: 64px;
  }
  .countdown-label-date {
    font-size: 48px;
  }
  .holidays-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    font-size: 16px;
  }
  .holidays-item-name,
  .holidays-item-date {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .digit-number,
  .digit-separator {
    font-size: 84px;
  }
  .digit-label {
    font-size: 28px;
  }
  .countdown-label-name {
    font-size: 80px;
  }
  .countdown-label-date {
    font-size: 60px;
  }
  .holidays-list {
    grid-template-columns: repeat(4, 1fr);
    font-size: 18px;
  }
  .holidays-item-name,
  .holidays-item-date {
    width: 220px;
  }
}

@media (min-width: 1280px) {
  .digit-number,
  .digit-separator {
    font-size: 96px;
  }
  .digit-label {
    font-size: 32px;
  }
  .countdown-label-name {
    font-size: 86px;
  }
  .countdown-label-date {
    font-size: 64px;
  }
  .holidays-list {
    gap: 32px;
    font-size: 20px;
  }
  .holidays-item-name,
  .holidays-item-date {
    width: 270px;
  }
}
