:root {
  --main-color: #0fb29f;
  --second-color: #bbddff;
  --bg-first: #ffffff;
  --bg-second: #eeeeee;
  --bg-third: #e2e2e2;
  --bg-fourth: #dddddd;
  --selected-color: #cdcdcd;
  --transition-pos: transform 0.2s ease;
  --transition-scale: transform 0.2s ease;
  --transition-border-color: border-color 0.2s linear;
  --transition-bg-color: background-color 0.4s cubic-bezier(0.1, 0.1, 0.2, 1);
  --timing-function-fast-in-slow-out: cubic-bezier(0.1, 0.1, 0.2, 1);
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  position: relative;
  margin: 10px;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 11px;
}
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: default;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(120, 120, 120);
  border-radius: 8px;
  cursor: default;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(80, 80, 80);
}
i {
  display: flex;
}

.hidden {
  display: none !important;
}
.ddn {
  position: relative;
  font-size: 18px;
  width: 270px;
  line-height: 19px;
}
.ddn-btn {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  height: 55px;
  padding: 0.6em;
  font: inherit;
  font-weight: bold;
  background-color: var(--bg-fourth);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
}
.ddn-selected {
  display: flex;
  align-items: center;
  width: calc(100% - 36px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}
.ddn-icon {
  position: absolute;
  right: 0.490909091em;
  font-size: 22px;
}
.ddn-icon i {
  display: flex;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.ddn-menu {
  position: absolute;
  top: 55px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-second);
  border-radius: 8px;
  width: inherit;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: pointer;
  animation: reveal 0.2s ease forwards,
    slide-down 0.2s var(--timing-function-fast-in-slow-out) forwards;
}
.ddn-item {
  display: flex;
  align-items: center;
  height: 55px;
  padding: 0.6em;
  user-select: none;
  transition: var(--transition-bg-color);
}
.ddn-item:hover {
  background-color: var(--bg-third);
}
.ddn-item.selected {
  background-color: var(--selected-color);
}
.ddn-selected i,
.ddn-item i {
  margin-right: 0.6em;
}

.region-settings-btn {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 40%;
  border: 0;
  background: none;
  font-size: 35px;
  transition: transform 0.15s linear;
}
.region-settings-btn.clicked {
  transform: rotate(360deg);
}
.region-settings-btn.clicked + .region-settings-flag {
  transform: translateX(-40px);
  opacity: 0;
}
.region-settings-flag {
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 4.7px;
  font-size: 16px;
  transition: transform 0.15s linear, opacity 0.15s linear;
  transform: translateX(0);
  opacity: 1;
}
.region-settings {
  position: absolute;
  z-index: 1;
  left: 40px;
  width: 360px;
  height: 140px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--bg-second);
  opacity: 0;
  transform: translateY(-8px);
  animation: reveal 0.25s ease forwards,
    slide-down 0.25s var(--timing-function-fast-in-slow-out) forwards;
}
.country-ddn {
  z-index: 99;
  width: 340px;
  font-size: 18px;
}
.time-zone-ddn {
  z-index: 98;
  top: 65px;
  left: 170px;
  width: 170px;
  font-size: 15.5px;
  animation: reveal 0.15s var(--timing-function-fast-in-slow-out) forwards;
}
.time-zone-toggle {
  position: absolute;
  z-index: 0;
  top: 85px;
  display: flex;
  align-items: center;
}
.time-zone-toggle-checkbox {
  padding: 0;
  border: 0;
  background: none;
  font-size: 30px;
}
.time-zone-toggle-label {
  font-size: 15.5px;
  font-weight: bold;
  user-select: none;
}

#language-switch {
  position: absolute;
  right: 0;
}
.language-switch-container {
  position: relative;
  height: 45px;
  width: 150px;
  overflow: hidden;
  user-select: none;
}
.language-switch-btn {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 40%;
  border: 0;
  background-color: var(--main-color);
  font-size: 28px;
}
.language-switch-label {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
  transform: translate(-40px, 8.75px);
}
.language-switch-label-short {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  text-align: right;
}
.language-switch-label-full {
  opacity: 0;
  width: 100%;
  text-align: right;
  transition: transform 0.4s linear;
}
.language-switch-btn:hover + .language-switch-label {
  animation: language-slide-left 0.25s ease-out 0s 1 normal forwards;
}
.language-switch-btn:hover
  + .language-switch-label
  > .language-switch-label-full {
  opacity: 1;
}
.language-switch-btn:hover
  + .language-switch-label
  > .language-switch-label-short {
  opacity: 0;
}

#content {
  display: flex;
  flex-direction: column;
}

.countdown,
.countdown-digits,
.countdown-label {
  display: flex;
}
.countdown,
.countdown-label {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.countdown-label {
  margin: 45px 0;
  font-size: 72px;
}
.digit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digit-number,
.digit-separator {
  font-size: 80px;
}
.digit-label {
  font-size: 22px;
}
.countdown-label,
.digit:nth-child(1) {
  color: var(--main-color);
  font-weight: bold;
}

.holidays-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
  width: 1000px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
}
.holidays-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.holidays-item-name,
.holidays-item-date {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 240px;
  background-color: var(--second-color);
  border: 4px solid #b0d0f0;
  border-radius: 20px;
}
.holidays-item-name {
  margin: 4px 4px 0 4px;
  height: 120px;
  transform-origin: top;
  transition: var(--transition-scale), var(--transition-border-color);
}
.holidays-item-date {
  margin: 0 0 4px 0;
  height: 70px;
  border-top: 0;
}
.holidays-item.upcoming .holidays-item-name,
.holidays-item.upcoming .holidays-item-date {
  background-color: #aaccee;
  border: 4px solid #b0d0f0;
}
.holidays-item-name:hover {
  transform: scale(1.06);
  border-color: #a1c1e1;
}

@keyframes slide-down {
  from {
    transform: translateY(-8px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate-360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes language-slide-left {
  from {
    transform: translate(200px, 8.75px);
  }
  to {
    transform: translate(-40px, 8.75px);
  }
}
